.personal-work {
  height: auto;
  overflow-y: auto;
}

.personal-work.dark {
  .options__button {
    border: 1px solid white;
  }
}

.personal-work.blue {
  .options__button {
    border: 1px solid white;
  }
}

.description__text {
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: clamp(15px, 2.5vw, 25px);
}

.work {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
}

.work__item {
  width: 100%;
}

.work__body {
  height: max-content;
}

.options {
  font-weight: 600;
  border: 10px solid red;
  padding: 10px;
  width: calc(94% - 20px);
  border-radius: 18px;
  display: flex;
  margin-bottom: 20px;
  font-family: monospace;
  flex-direction: column;
}

.options__text {
  text-align: left;
  margin: 0 0 20px 0;
  font-size: clamp(15px, 2vw, 28px);
  text-decoration: underline;
}

.options__buttons {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: flex-start;
}

.options__button {
  width: 100%;
  font-size: clamp(12px, 1.5vw, 20px);
  background-color: transparent;
  color: inherit;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  font-family: monospace;
}

@media screen and (pointer: fine) {
  .options__button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
  }

  .personal-work.dark {
    .options__button:hover {
      color: black;
      background-color: white;
    }
  }

  .personal-work.blue {
    .options__button:hover {
      color: black;
      background-color: white;
    }
  }
}

@media screen and (max-width: 600px) {
  .work {
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  }

  .options {
    width: calc(94% - 20px);
  }
  .options__buttons {
    flex-direction: column;
    gap: 5px;
  }
}
