.project {
  width: 80cqw;
  max-width: 800px;
  margin: 10px;
}

.project__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__content {
  margin: 10px;
  aspect-ratio: 16 / 9;
}

.project__info_container {
  font-family: "Alte Haas Grotesk";
  text-align: center;
  padding: 4px;
  background-color: white;
  width: fit-content;
  height: fit-content;
  filter: drop-shadow(0 0 5px #00000095);
}

.project__info_title {
  font-weight: 800;
  font-size: 28px;
}

.thumbnail {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.project__info_role {
  font-weight: 600;
  font-size: 22px;
}
