@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

.rocks {
  z-index: 2;
  width: 100vw;
  height: 40vh;
  position: absolute;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header {
  position: absolute;
  width: 340px;
  top: 10vh;
  height: auto;
  background-color: white;
  text-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0 0 5px #000000a4);
  cursor: pointer;
}

.header__text {
  color: black;
  margin: 8px;
  padding: 0;
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.michael {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__text:hover .michael {
  color: red;
}

.button {
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 25px;
  margin: 5px;
  position: absolute;
  filter: drop-shadow(0 0 5px #00000095);
  border-radius: 0;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button__work {
  left: 20vw;
  top: 25%;
}

.button:hover {
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0 0 0 #000000);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button__contact {
  right: 20vw;
  max-width: 200px;
  top: 25%;
}

.rees__peek {
  position: absolute;
  z-index: 0;
  bottom: -20%;
  scale: 1.5;
  transition: 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rees__peek.active {
  bottom: 30vh;
}


@media screen and (max-width: 600px) {
  .rocks {
    height: 20vh;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .button__work {
    top: 25%;
    left: calc(50vw - 72px);
  }

  .button__contact {
    top: 50%;
    left: calc(50vw - 98px);
  }

  .rees__peek.active {
    bottom: 10vh;
  }
}

@media screen and (min-height: 1600px) and (max-height: 3000px) and (min-width: 1500px) {
  .rees__peek.active {
    bottom: 33vh;
  }
}