.register {
  font-family: "Alte Haas Grotesk";
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 50px;
  opacity: 0.5;
}

.back:hover {
  opacity: 1;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register__heading {
  font-weight: 500;
  margin: 0;
}

.register__field {
  font-size: 20px;
  display: flex;
}

.register__input {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}

.form__button {
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.form__button.disabled {
  opacity: 0.5;
}

.form__button.disabled:hover {
  opacity: 0.5;
  background-color: white;
  color: black;
}

.form__button:hover {
  background-color: black;
  color: white;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 100px;
  bottom: 0;
  line-height: 10px;
  border: none;
  right: 0;
  opacity: 0.2;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  rotate: 0deg;
}

.login:hover {
  opacity: 1;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

