@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('./assets/fonts/Alte-Haas-Grotesk-Regular.ttf');
}

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url('./assets/fonts/Alte-Haas-Grotesk-Bold.ttf')
}

:root {
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  max-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  height: 100svh;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

a {
  color: inherit;
  text-decoration: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
