.audio-player__content {
  width: max-content;
  height: max-content;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  position: relative;
}

.close:hover{
  filter: invert(1);
  background-color: white;
  border: 2px solid white;
  rotate: 360deg;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.audio-player__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000008b;
  z-index: 20;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  border-radius: 15px;
}

@keyframes rotateLoading {
  0% {
    rotate: 0deg;
  }
  30% {
    rotate: 180deg;
  }

  50% {
    rotate: 230deg;
  }

  70% {
    rotate: 300deg;
  }
  100% {
    rotate: 360deg;
  }
}

.loading {
  position: absolute;
  animation: rotateLoading 1s ease-in-out infinite;
}
.loading2 {
  position: absolute;
  animation: rotateLoading 2s ease-in-out 500ms infinite;
}
.loading3 {
  position: absolute;
  animation: rotateLoading 3s ease-in-out 500ms infinite;
}

.close {
  rotate: 0deg;
  position: absolute;
  background-image: url("../../assets/images/close-button.png");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  rotate: 0deg;
  height: 30px;
  width: 30px;
  right: 15px;
  top: 15px;
  border-radius: 50px;
  border: 2px solid black;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.audio-player.blue {
  color: black;
}

.audio-player.dark {
  color: black;
}

.audio-player {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: #0000003e;
  z-index: -2;
  padding: 0;
  margin: 0;
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  font-size: clamp(20px, 3vw, 32px);
}

.audio-player.active {
  z-index: 20;
  opacity: 1;
  pointer-events: all;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.play {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 5px;
}

.play:hover{
  filter: invert(1);
  background-color: white;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.select__title {
  margin: 0 10px 5px 0;
  text-align: left;
}

.select__picker {
  width: 100%;
  padding: 10px;
  font-size: clamp(18px, 3vw, 25px);
  border-radius: 8px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.select__picker:hover {
  background-color: #e6e6e6;
}

.select__picker:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.select__option {
  font-size: clamp(18px, 3vw, 25px);
  background-color: white;
  color: #333;
  padding: 10px;
}

.select__option:disabled {
  color: #888;
}

.audio-player__settings {
  width: 100%;
}

.audio-player__select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: clamp(20px, 4vw, 32px);
}

.audio-player__option {
  font-size: clamp(20px, 4vw, 32px);
}

.audio-player__heading {
  width: 100%;
  text-align: left;
  margin: 0px;
  font-size: clamp(25px, 8vw, 40px);
}

.volume__label {
  text-align: left;
  margin: 10px 0 0 0;
  font-size: clamp(25px, 4vw, 30px);
}

.volume {
  -webkit-appearance: none;
  width: calc(100% - 10px);
  height: 20px;
  padding: -20px;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid black;
  border-radius: 40px;

  width: 10px;
  height: 30px;
  background: white;
  transition: transform 0.2s ease-in-out;
}

.volume::-webkit-slider-thumb:hover {
  background-color: white;
  border-radius: 40px;
}

.volume::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 3px solid #007bff;
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.volume::-moz-range-thumb:hover {
  transform: scale(1.2);
}
