.epmodal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100svh;
  backdrop-filter: blur(4px);
  z-index: -3;
  display: flex;
  align-items: center;
  opacity: 0;
  justify-content: center;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.edit__input.description{
  text-wrap: wrap;
}

.epmodal.blue{
  .epmodal__content{
      background-color: rgb(20, 20, 20);
  }

  .edit__input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    font-size: 20px;
    color: white;
  }
}

.epmodal.dark{
  .epmodal__content{
    background-color: rgb(20, 20, 20);
}


.edit__input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  font-size: 20px;
  color: white;
}



}

.epmodal.active {
  z-index: 200;
  opacity: 1;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.epmodal__heading {
  margin: 0;
  margin-bottom: 10px;
}

.epmodal__content {
  position: relative;
  width: 100%;
  max-width: 80vw;
  overflow-y: scroll;
  background-color: white;
  padding: 10px 40px;
  border-radius: 10px;
  filter: drop-shadow(0px 10px 10px #0000007c);
  display: flex;
  flex-direction: column;
 align-items: flex-start;
}

.epmodal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-image: url("../../../assets/images/close-button.png");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: white;
  rotate: 0deg;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.epmodal__close:hover {
  filter: invert(1);
  rotate: 180deg;
  border: 2px solid white;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.edit__fields {
  overflow-y: scroll;
  max-height: 80svh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  overflow-x: hidden;
}

.edit__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit__label {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.preview{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.edit__label.checkbox {
  flex-direction: row;
  justify-content: space-between;
}

.edit__checkbox {
  width: 20px;
  height: 20px;
}

.edit__input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 20px;
}

.edit__options {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.edit__button {
  width: 100%;
  font-size: 25px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.edit__button.revert {
  opacity: 0.5;
  background-color: white;
  color: black;
}

.edit__button:disabled {
  pointer-events: none;
}

.edit__button:hover {
  opacity: 1;
  filter: invert(1);
  box-shadow: inset 0 0 10px #b4b4b4;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.edit__label.fileupload {
  font-size: 15px;
  border-radius: 20px;
  text-align: center;
  font-weight: 600;
  border: 3px dashed black;
  display: inline-block;
  padding: 25px;
  cursor: pointer;
  max-width: 100%;
}

.edit__label.fileupload:hover {
  background-color: black;
  color: white;
}

.edit__input {
  border: none;
  border-bottom: 2px solid black;
}

.edit__input.fileupload {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

@media screen and (max-width: 1000px) {
  .preview {
    margin-left: -18px;
  }
}

@media screen and (max-height: 900px) {
  .epmodal__content {
    max-height: 80svh;
  }

  .edit__container {
    max-height: 70svh;
  }
}
