.work {
  overflow: hidden;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.work.dark{
  background-color: #0e1521;
  color: white;
}

@keyframes textPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveArrow{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0px);
  }
}

.show{
  font-weight: 800;
  position: absolute;
  bottom: -20px;
  color: white;
  visibility: hidden;
  animation: moveArrow 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}


.show.hide{
  rotate: 180deg;
  z-index: 10;
  bottom: -42px;
}

.header__title:hover .show{
  visibility: visible;
}

.work__loading {
  display: flex;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 10;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.error{
  overflow: hidden;
  height: 100%;
  width: calc(100% - 30px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Alte Haas Grotesk', sans-serif;
  font-style: italic;
  flex-direction: column;
}

.error__heading{
  font-size: 30px;
  font-weight: 800;
}

.error__subheading{
  font-size: 20px;
}

.error__contactme{
  cursor: pointer;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 50px;
}

.error__contactme:hover{
  padding: 5px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.work__loading.dark{
  background-color: #0e1521;
  color: white;
}

.loading__text {
  font-size: 30px;
  font-family: "Alte Haas Grotesk", sans-serif;
  font-weight: 800;
  animation: textPulse 1s infinite;
}

.work__header {
  width: 80vw;
  max-width: 1200px;
  margin: 10px auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-family: "Alte Haas Grotesk", sans-serif;
  background-color: white;
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-weight: 800;
  padding: 10px 25px;
  margin: 5px;
  filter: drop-shadow(0 0 5px #00000095);
  border-radius: 0;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__title:hover{
  filter: invert(1);
}

@keyframes filterPulse{
  0%{
    filter: drop-shadow(0 0 10px #9d9d9d);
  }
  50%{
    filter: drop-shadow(0 0 20px #828282);
  }
  100%{
    filter: drop-shadow(0 0 10px #9d9d9d);
  }
}

.header__title.dark{
  background-color: #0e1521;
  filter: drop-shadow(0 0 20px #828282);
  color: white;
  animation: filterPulse 3s infinite linear;
}

.button {
  font-family: "Alte Haas Grotesk", sans-serif;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 25px;
  width: 200px;
  max-width: 200px;
  margin: 5px;
  filter: drop-shadow(0 0 5px #00000095);
  border-radius: 0;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button.dark{
  color: white;
  background-color: #0e1521;
  filter: drop-shadow(0 0 5px #cacacaa4);
}

.button.dark:hover{
  filter: drop-shadow(0 0 20px #828282);
  color: white;
  background-color: #0e1521;
  scale: 1.1;
}

.header__contact {
  
}

.header__home {

}

.button:hover {
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0 0 0 #000000);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.work__main {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  max-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__main::-webkit-scrollbar{
  scrollbar-color: black;
  scrollbar-width: thin;
}


.add__project {
  display: flex;
  position: absolute;
  font-family: "Alte Haas Grotesk", sans-serif;
  font-weight: 800;
  font-size: 40px;
  bottom: 10px;
  right: 10px;
  color: black;
  line-height: 20px;
  border-radius: 10px;
  border: 2px solid black;
  height: 27px;
  padding: 5px;
  margin: 0;
  width: 25px;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 3;
}

.add__project.dark{
  filter: invert(1)

}

.add__project:hover {
  color: white;
  width: fit-content;
  line-height: 25px;
  padding: 10px;
  background-color: black;
  border: 2px solid black;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.reorder__button {
  display: flex;
  position: absolute;
  font-family: "Alte Haas Grotesk", sans-serif;
  font-weight: 800;
  font-size: 40px;
  bottom: 10px;
  left: 10px;
  color: black;
  line-height: 20px;
  border-radius: 10px;
  border: 2px solid black;
  height: 27px;
  padding: 5px;
  margin: 0;
  width: min-content;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 3;
}

.reorder__button.dark{
  filter: invert(1)
}

.header__smallcontact {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.header__smallcontact.dark{
  filter: invert(1) drop-shadow(0 0 5px #cacacaa4);
  background-color: transparent;
}

.header__smallcontact_parent {
  position: absolute;
}

.reorder__button::after {
  content: "edit";
}

.reorder__button:hover::after {
  content: "edit order of projects";
}

.reorder__button:hover {
  color: white;
  width: fit-content;
  line-height: 25px;
  padding: 10px;
  background-color: black;
  border: 2px solid black;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.add__project:hover::before {
  content: "add an item";
}

.filters{
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: max-content;
  gap: 20px;
  max-width: max-content;
  font-size: clamp(10px, 1.1cqw, 20px);
  padding-bottom: 10px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  color: black;
  font-size: 20px;
  text-align: left;
  padding: 5px;
  width: 100%;
}

.search.dark{
  color: white;
  border: none;
  border-bottom: 2px solid white;
}

.filter__options{
  max-width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.filters__heading{
  font-family: 'Alte Haas Grotesk', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;

}

@media screen and (max-width: 840px) {
  .button {
    font-size: 20px;
    width: 150px;
  }

  .filters{
    max-width: 90vw;
  }

  .work__header {
    justify-content: center;
  }
}

@media screen and (max-width: 660px) {
  .work__header {
    justify-content: space-between;
    max-width: 90svw;
  }

  .header__smallcontact_parent {
    position: relative;
    width: 50px;
  }

  .header__smallcontact {
    width: 50px;
    height: 50px;
    background-image: url("../../assets/images/mail.png");
    background-color: white;
    background-position: center;
    background-size: contain;
    border: 2px solid black;
    border-radius: 5px;
    filter: drop-shadow(0 0 5px #00000095);
    visibility: visible;
    position: relative;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .header__smallcontact:hover {
    filter: invert(1);
    opacity: 0.8;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .button {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0px;
  }
}

