.work {
  overflow: hidden;
}

.work__header {
  width: 100vw;
  height: 150px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.header__title {
  font-family: "Alte Haas Grotesk", sans-serif;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 25px;
  margin: 5px;
  position: absolute;
  filter: drop-shadow(0 0 5px #00000095);
  border-radius: 0;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button {
  font-family: "Alte Haas Grotesk", sans-serif;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: 800;
  padding: 10px 25px;
  margin: 5px;
  position: absolute;
  filter: drop-shadow(0 0 5px #00000095);
  border-radius: 0;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__contact {
  left: 5%;
}

.header__home {
  right: 5%;
}

.button:hover {
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0 0 0 #000000);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.work__main{
  overflow: scroll;
  width: 100vw;
  max-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add__project{
  display: flex;
  position: absolute;
  font-family: 'Alte Haas Grotesk', sans-serif;
  font-weight: 800;
  font-size: 40px;
  bottom: 10px;
  right: 10px;
  color: black;
  line-height: 20px;
  border-radius: 10px;
  border: 2px solid black;
  height: 27px;
  padding: 5px;
  margin: 0;
  width: 25px;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 3;
}

.add__project:hover{
  color: white;
  width: fit-content;
  line-height: 25px;
  padding: 10px;
  background-color: black;
  border: 2px solid black;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.add__project:hover::before{
  content: 'add an item'
}