.page {
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

.page.dark {
  .cta {
    color: white;
    border-bottom: 1px solid white;
  }
  .cta-button {
    border: 2px solid white;
    color: white;
  }
  .cta-button:hover {
    color: black;
    background-color: white;
    border: 2px solid white;
  }
}

.page.blue {
  .cta {
    color: white;
    border-bottom: 1px solid white;
  }
  .cta-button {
    border: 2px solid white;
    color: white;
  }
  .cta-button:hover {
    color: blue;
    background-color: white;
    border: 2px solid white;
  }
}

.list {
  list-style-type: none;
  width: 94%;
  height: 100%;
  margin: 0 3% 0 3%;
  padding: 0;
}

.title {
  margin: 0;
  padding: 0;
}

.cta {
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: clamp(16px, 4vw, 50px);
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.cta-button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.cta-button {
  width: max-content;
  font-family: inherit;
  font-size: clamp(16px, 4vw, 50px);
  background-color: transparent;
  border: 2px solid black;
  margin: 5px 0 0 5%;
  padding: 5px;
  color: black;
  border-radius: 50px;
}

.description {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 auto;
  font-size: clamp(15px, 3vw, 40px);
  text-align: center;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  color: black;
  font-size: 20px;
  text-align: left;
  padding: 5px;
  width: 100%;
}

.arrow {
  margin: 0 0 0 auto;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.list__item {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  text-align: left;
  font-size: clamp(25px, 8vw, 50px);
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter {
  display: flex;
  flex-direction: row;
}

.filter__options {
  display: flex;
  flex-direction: row;
  font-size: clamp(14px, 3cqw, 25px);
  justify-content: space-between;
}

@media screen and (pointer: fine) {
  .list__item:hover {
    padding: 40px 0;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@media screen and (max-width: 1030px) {
  .description {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .arrow {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
}
